.char-container {
    margin: 20px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.full-item {
    width: max(calc(20% - 20px), calc(250px - 20px));
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    flex-direction: column;
    text-decoration: none;
    color: black;
    position: relative;
}

.full-item:hover {
    cursor: pointer;
}

.charpic {
    width: 100%;
    object-fit: fill;
    height: 300px;
    margin-bottom: 5px;
}

.charname {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.desc {
    font-weight: bold;
}

.page-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: #1493B3;
    height: 20px;
}

.page-menu > * {
    margin-right: 10px;
    cursor: pointer;
}

.limit-options {
    border: 1px #1493B3 dotted;
    width: 110px;
    display: flex;
    height: 20px;
    flex-wrap: wrap;
    background-color: white;
    overflow-y: hidden;
}

.limit-options:hover {
    height: 120px;
    position: relative;
    top: 50px
}

.caret-down {
    margin-left: 5px;
}

.limit-options > * {
    cursor: pointer;
    padding: 0px 5px;
}

.limit-options > *:not(:first-child) {
    width: 100%;;
}

.limit-options > *:hover {
    background-color: #D6F0F7;
}

.actual-page {
    background-color: #D6F0F7;
    border: 1px #1493B3 dotted;
    color:  #1493B3;
    width: 25px;
    margin: 0px;
    margin-right: 5px;
    padding: 0px;
    text-align: center;
    height: 20px;
}

.comic-char-filter {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
    color:  #1493B3;
}

.comic-association {
    margin-right: 10px;
}

.comic-filter {
    border-radius: 5px;
    background-color: #D6F0F7;
    border: 1px #1493B3 dotted;
    display: flex;
    padding: 0px 5px;
    cursor: pointer;
}

.comic-filter > span {
    margin-right: 5px;
}

.filter-xmark {
    font-size: 18px;
}

.circle {
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid  #5E646A;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    right: 10px;
    top: 10px;
}

.grey-heart {
    color: #5E646A;
    cursor:auto;
    z-index: 2;
}

.red-heart {
    color: #E52428;
    cursor:auto;
    z-index: 2;
}

.link {
    text-decoration: none;
    color: black;
}

@media (max-width: 500px) {
    .page-menu {
        flex-wrap: wrap;
        height: 50px;
    }
    .limit-options:hover {
        height: 120px;
        position: relative;
        top: 20px
    }
}